@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-accent-lime: #8bff8e;
  --color-based-black: #1d1d1d;
  --color-based-white: #f3f3f3;
}

.brand_highlight {
  background-color: var(--color-accent-lime);
  width: 60px;
  height: 14px;
  top: 79px;
  position: absolute;
  z-index: -1;
}
